@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - Varun's Quiz 4 App</h1>
    <p class="lead text-success"><strong>@ViewBag.Message</strong></p>
</div>